<h1>Page du paiement</h1>
<table>
    <tr class="headerTable">
        <td>ID</td>
        <td>Nom du produit</td>
        <td>Prix TTC</td>
        <td>Quantités</td>
    </tr>
    <ng-container *ngFor="let l of globalObj">
        <tr class="lineTable" *ngIf="l.qteProd > 0">
            <td>
                {{l.id}}
            </td>
            <td>
                {{l.name}}
            </td>
            <td>
                {{l.price+(l.price*(l.tva/100))}}
            </td>
            <td>
                {{l.qteProd}}
            </td>
        </tr>
    </ng-container>
</table>
<div id="payButton">
    <button type="button" class="btn btn-secondary" (click)="confirm_cancel()" routerLink="list_products">Annuler la commande</button>
    <button type="button" class="btn btn-danger" (click)="confirm_pay()" routerLink="list_products">Payer {{montant_total.toFixed(2)}} €</button>
</div>
