<h1>Page du paiement</h1>
<div *ngFor="let p of this.product_cart">
    {{p.id}} - {{p.qteProd}}
</div>

<table>
    <tr class="headerTable">
        <td>ID</td>
        <td>Nom du produit</td>
        <td>Prix TTC</td>
        <td>Quantités</td>
    </tr>
    <!-- <ng-container *ngFor="let p1 of p.products">
        <tr class="lineTable">
            
        </tr>
    </ng-container> -->
</table>
<div id="payButton">
    <button type="button" class="btn btn-danger" (click)="pay()" routerLink="list_products">Payer</button>
</div>
