<h1>Liste des produits</h1>
<ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">
	<li [ngbNavItem]="p.name" *ngFor="let p of this.produits.categories">
		<button ngbNavLink>{{p.name}}</button>
		<ng-template ngbNavContent>
            <table>
                <tr class="headerTable">
                    <td>ID</td>
                    <td>Nom du produit</td>
                    <td>Prix HT</td>
                    <td>Taux de TVA</td>
                    <td>Image du produit</td>
                    <td>Panier</td>
                </tr>
                <ng-container *ngFor="let p1 of p.products">
                    <tr class="lineTable">
                        <td>{{p1.id}}</td>
                        <td>{{p1.name}}</td>
                        <td>{{p1.price}} €</td>
                        <td>{{p1.tva}} %</td>
                        <td><img src="{{p1.image}}" /></td>
                        <td>
                            <button type="button" class="btn btn-primary" (click)="addToKart(p1.id)">
                                <span class="material-icons">
                                    shopping_cart
                                </span>
                            </button>
                        </td>
                    </tr>
                </ng-container>
            </table>
		</ng-template>
	</li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

<pre>Active: {{ activeTab }}</pre>
